<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>英雄</title>

    <!-- 引入 Bootstrap -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

    <link href="/static/css/cover.css" rel="stylesheet">

    <!-- HTML5 Shim 和 Respond.js 用于让 IE8 支持 HTML5元素和媒体查询 -->
    <!--[if lt IE 9]>
        <script src="/static/js/html5shiv.js"></script>
        <script src="/static/js/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div style="position:fixed; left:0px; top:0px; width:100%; height:100%; z-index:-100">
    <img src="/static/img/bg-body.jpg" width="100%" height="100%"/>
</div>

    英雄个数：{{ heros_list|length }}
    <ul>
        {% for obj in heros_list %}
        <li>
            <a href="/skins/champion/{{ obj.get('objectId') }}">
                {{ obj.get('name_cn') }}--{{ obj.get('title_cn') }}(皮肤{{obj.get('skinsCount')}}个)
            </a>
        </li>
        {% endfor %}
    </ul>

<!-- jQuery (Bootstrap 的 JavaScript 插件需要引入 jQuery) -->
<script src="/static/js/jquery-3.2.1.slim.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
</body>
</html>