<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>皮肤原画</title>

    <!-- 引入 Bootstrap -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

    <link href="/static/css/cover.css" rel="stylesheet">

    <!-- HTML5 Shim 和 Respond.js 用于让 IE8 支持 HTML5元素和媒体查询 -->
    <!--[if lt IE 9]>
    <script src="/static/js/html5shiv.js"></script>
    <script src="/static/js/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div style="position:fixed; left:0px; top:0px; width:100%; height:100%; z-index:-100">
    <img src="/static/img/bg-body.jpg" width="100%" height="100%"/>
</div>

<div class="site-wrapper">
    <div class="site-wrapper-inner">
        <div class="cover-container">
            <div class="masthead clearfix">
                <div class="inner">
                    <h3 class="masthead-brand"><a href="/">首页</a></h3>
                    <nav>
                        <ul class="nav masthead-nav">
                            <li><a href="/champions">英雄</a></li>
                            <li><a href="/regions">地区</a></li>
                            <li><a href="/categorys">系列</a></li>
                        </ul>
                    </nav>
                </div>
            </div>

            <div class="inner cover">
                皮肤个数：{{ skins_list|length-1 }}
                <ul>
                    {% for obj in skins_list %}
                    <li><img src="{{ obj.get('imgFile')._url }}" width="50%" height="50%"/></li>
                    {% endfor %}
                </ul>
            </div>

            <div class="mastfoot">
                <div class="inner">
                    <p>© Copyright 2017 lolskins-commend - All rights reserved.</p>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- jQuery (Bootstrap 的 JavaScript 插件需要引入 jQuery) -->
<script src="/static/js/jquery-3.2.1.slim.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
</body>
</html>